<!doctype html>
<html>

<head>
  <title>Project</title>
</head>

<body>
    <a href="/about.html">[About]</a>
    <a href="/project.html">[Project]</a>
  <h1>Project Information:</h1>
    <p>
      Ogre Inc. is creating a library web application to book study rooms. We are using the MERN Stack.
    Using our technical skills, we will be developing this for Indiana University Kokomo. Our point of contact
    for this web application is Michael Mohkamkar.
      <br /><a href='/'>Go back to home</a>
    </p>


    <footer>© Ogre Inc </footer>
</body>

</html>